body {
    background-image: url(Design_sem_nome.png);
    background-size: cover;
    padding: 0;
    margin: 0;
  }

  #fundo {
    background-color: #00000054;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    
}

.div_1{
    color:#fffdd0e1; 
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

.div_input{
    align-items: center;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    

    
}

.botao1{
    margin-left: 44%;
    font-size: 18px;
    margin-bottom: 1%;
    background-color: peru;
    border-radius: 20px;
    font-weight: 600;
}
.botao2{
    font-size: 18px;
    margin-left: 45%;
    background-color: peru; 
    border-radius: 20px;
    font-weight: 600;
}

.div2{
    color: #252525;
    font-size:x-large; 
    height: 20%; 
    margin-left: 28;
}
 
.result{
    margin: 0 auto;
}

.input1{
    background-color: #fffdd09c;
    border-radius: 6px;
    width: 200px;
    height: 30px;
    outline: 0;
}

.input2{
    background-color: #fffdd09c;
    border-radius: 6px;
    width: 200px;
    height: 30px;
    outline: 0;

}
 .input3{
    background-color: #fffdd09c;
    border-radius: 6px;
    width: 200px;
    height: 30px;
    outline: 0;
 }

 
 